@media (max-width: 900px) {
    .body-wrap {
      background-color: #F5F4F2;
    }


    header {
        max-width: 100%;
      }
      header .name {
        font-size: 60px;
        line-height: 55px;
      }
      header .title-container {
        font-size: 20px;
        margin-bottom: -120px;
      }

      body header h3 {
        font-size: 20px;
      }
      .my-design {
        display: none;
      }
      body.container {
        margin: 0px;
      }
      .container .row a {
        margin: 5px auto;
      }




      body.container {
        margin-left: 100px;
      }
      .container .row a {
        margin: 5px auto;
      }
    }
    header {
      background-color: #FFFBF4;
    
      padding: 30px;
    }
    header h1 {
      text-align: center;
      font-size: 100px;
      line-height: 90px;
    }
    header h3 {
      margin-top: 20px;
      text-align: center;
      font-size: 20px;
      font-family: var(--secondary-font);
    }
    header .title {
      margin-top: 0px;
    }
    
    .my-design {
    border: 1px solid rgb(203, 204, 203);
    padding: 10px;
    width: 500px;
    height: 500px;
  }

    .container {
      display: flex;
      justify-content: center;
      margin-top: 100px;
    }
    
    .container .links {
      margin-top: 110px;
    }
    .row a {
      margin: 8px auto;
      width: 400px;
      padding: 25px;
      margin-left: 110px;
    }


:root {
    --branding-color:#9EA9A2;
    --secondary-color: #F5F4F2;
    --heading-font-family:"Playfair Diaplay" serif;
    --default-font-family:"Poppins" sans-serif;
}



.btn-branding{
color: var(--branding-color);

}

body{
    font-family: var(--default-font-family);
}


h1,
h2,
h3,
h4,
h5,
h6{
color: black;
font-weight: bold;
font-family: var(--heading-font-family)
}


h1{
    font-size: 96px;
}

h2{
    font-size: 64px;
}

  
 
  .row a {
    margin: 8px auto;
    width: 400px;
    padding: 25px;
    margin-left: 110px;
  }
    

  



p{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
}

  .container .links {
    margin-top: 110px;
  }
  .row a {
    margin: 8px auto;
    width: 400px;
    padding: 25px;
    margin-left: 110px;
  }
