@media (max-width: 900px) {
    .body-wrap {
      background-color:  #FFEDC0;
    }


   

    header {
        max-width: 100%;
      }
      header .name {
        font-size: 60px;
        line-height: 55px;
      }
      header .title-container {
        font-size: 20px;
        margin-bottom: -120px;
      }

      body header h3 {
        font-size: 20px;
      }
      
      
      .image {
        display: none;
      }


    
      body.container {
        margin: 0px;
      }
      .container .row a {
        margin: 5px auto;
      }

      body.container {
        margin-left: 100px;
      }
      .container .row a {
        margin: 5px auto;
      }
    }
    header {
      background-color: #FFFBF4;
    
      padding: 30px;
    }
    header h1 {
      text-align: center;
      font-size: 100px;
      line-height: 90px;
    }
    header h3 {
      margin-top: 20px;
      text-align: center;
      font-size: 20px;
      font-family: var(--secondary-font);
    }
    header .title {
      margin-top: 0px;
    }
    
    
    .navbar-nav a {
        color: #394240;
        font-size: 20px;
        transition: all 100ms ease-in-out;
      }
    
      .navbar-nav a:hover {
        color: var(--primary-color);
      }
      
    
    
    
      .app-link {
        max-width: 250px;
        text-align: center;
        background: var(--dkblue);
        color: var(--putty);
        font-family: "Forum", "Bellfair", serif;
        font-size: 1.3em;
      }
      .app-link:hover {
        transition: all ease-in-out 0.3s;
        color: var(--midnight);
        border: solid 2px var(--midnight);
      }
      

    
    
    
    .index-image {
        border: 2px solid var(--branding-color);
        padding: 10px;
        width: 500px;
        height: 500px
      }



    .container {
      display: flex;
      justify-content: center;
      margin-top: 100px;
    }
    
    .container .links {
      margin-top: 110px;
    }
    .row a {
      margin: 8px auto;
      width: 400px;
      padding: 25px;
      margin-left: 110px;
    }



    @media (min-width: 550px) {
        .container .image {
          display: flex;
          width: 80%;
          height: 80%;
          margin-top: 100px;
        }
    }

:root {
    --branding-color:#BECCBB;
    --primary-color:#89a192; 
    --secondary-color: #F5F4F2;
    --heading-font-family:"Playfair Diaplay" serif;
    --default-font-family:"Poppins" sans-serif;
}



.btn-branding{
background-color: var(--branding-color);
border-radius: 4px;
color:#666666;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;

}

.btn-branding-outline {
    border: 1px solid var(--branding-color);
    border-radius: 5px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    color: #394240;
  }


  .btn:hover{
    color: white;
   background: var(--branding-color);
   

  }

body{
    font-family: var(--default-font-family);

}
 


  .row a {
    margin: 8px auto;
    width: 400px;
    padding: 25px;
    margin-left: 110px;
    text-decoration: none;
}
  
  .container .links {
    margin-top: 110px;
  }
  
  .about-desc {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 75%;
  }

  .image-about {
    display: block;
    margin: 50px auto;
    width: 500px;
    height: 500px;
    border:2px solid var(--branding-color) ;
  }

  .app-image {
    max-width: 300px;
    border-radius: 50px;
  }
  

  button {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    background: var(--branding-color);
    color: #394240;
    padding: 16px 24px;
    border: 1px solid var(--branding-color);
    border-radius: 30px;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    cursor: pointer;
    transition: all 150ms ease;
    text-decoration: none;
  }

  button:hover{
    background: var(--branding-color);
    color: white;
    
  }

  button a {
    text-decoration: none;
  }

  h2,h3,P{

    text-align: center;
  }

footer .email-link{
    text-decoration: none;
    color: #394240;
    font-size: 24px;
    text-align: center;

}

footer .email-link:hover{
    color: var(--branding-color);
}



  .socials a {
    padding: 10px;
    color: var(--branding-color);
  }
  .socials p {
    font-size: 20px;
    padding: 10px;
  }
  footer{
    color: var(--branding-color);
  }
  .sign-off {
    color: #394240;
  }

  .sign-off a {
    color: var(--branding-color);
  }