:root {
    --branding-color:#BFCCBC;
    --secondary-color: #F5F4F2;
    --heading-font-family:"Playfair Diaplay" serif;
    --default-font-family:"Poppins" sans-serif;
}

body{
    font-family: var(--default-font-family);
}


@media (max-width: 900px) {
    .body-wrap {
        background-color: azure;
    }
}



h1,
h2,
h3,
h4,
h5,
h6{
color: black;
font-weight: bold;
font-family: var(--heading-font-family)
}


h1{
    font-size: 96px;
}

h2{
    font-size: 64px;
}

  .container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border-radius: 4px;
  }
  
  .container .links {
    margin-top: 110px;
    border: var(--branding-color);
    text-decoration: none;
    border-radius: 5px;
    background: var(--branding-color);
    color: var(--secondary-color);
    box-shadow: 3px 3px 5px 4px rgba(43, 69, 96, 0.8);

  }
  .row a {
    margin: 8px auto;
    width: 400px;
    padding: 25px;
    margin-left: 110px;
  }
    

  img{
    display: block;
    margin: 0 auto;
    max-width: 25%;
    padding: 20px;
    border-radius: 30px;
  }


  button {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    background: #975a5e;
    color: white;
    padding: 16px 24px;
    border: 1px solid #975a5e;
    border-radius: 30px;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    cursor: pointer;
    transition: all 200ms ease;
  }







p{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
}
.hero{
    background-color:var(--secondary-color);
    text-align: center;
    line-height: 2;
    margin: 0;
    padding: 90px 20px;
    background-size: 400% 400%;
    border-top: 2px solid ;
    border-bottom: 2px solid;
    border-color: var(--branding-color)

}

.hero p{
    font-family: "Playfair Diaplay" serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0;

}
.hero h2{
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
    font-family: var(--heading-font-family)

}
.btn-branding{
    display: block;
    background: var(--branding-color);
    border-radius: 4px;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border: 20px solid;
}





.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    display: block;
  }
  .row a {
    margin: 8px auto;
    width: 400px;
    padding: 25px;
    margin-left: 110px;
  }
  